In [1]:
import os
import gc
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from tqdm import tqdm

# load files

In [2]:
def load_file(
    path="", 
    usecols=None
):
    # LOAD DATAFRAME
    if usecols is not None: 
        df = pd.read_parquet(path, columns=usecols)
    else: 
        df = pd.read_parquet(path)
    
    # REDUCE DTYPE FOR CUSTOMER AND DATE
    df["customer_ID"] = df["customer_ID"].str[-16:]
    
    hex_to_int = lambda x: int(x, 16)
    df[["customer_ID"]] = df[["customer_ID"]].applymap(lambda x: int(x, 16))
    
    df["customer_ID"] = df["customer_ID"].astype("int64")
    df["S_2"] = pd.to_datetime(df["S_2"])
    
    # SORT BY CUSTOMER AND DATE (so agg("last") works correctly)
    df = df.sort_values(["customer_ID", "S_2"])
    df = df.reset_index(drop=True)
    
    # FILL NAN
    print("shape of data:", df.shape)
    
    return df

In [3]:
print("Reading train data...")
TRAIN_PATH = "../input/amex-data-integer-dtypes-parquet-format/train.parquet"
train = load_file(path = TRAIN_PATH)

Reading train data...
shape of data: (5531451, 190)

In [4]:
# revert to nan
train[train==-1] = np.nan

In [5]:
train.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,-9223358381327749917,2017-03-31,0.342033,9,0.298571,0.028331,0.506896,0.793958,0.0,0.823765,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.004787,0.0
1,-9223358381327749917,2017-04-07,0.340178,16,0.353684,0.026975,0.505335,0.795727,0.0,0.825231,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.003442,0.0
2,-9223358381327749917,2017-05-23,0.356010,1,0.448582,0.026601,0.506290,0.530133,0.0,0.923707,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.003340,0.0
3,-9223358381327749917,2017-06-22,0.378665,1,0.443752,0.024322,0.509069,0.539285,0.0,0.915724,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.007556,0.0
4,-9223358381327749917,2017-07-22,0.416543,1,0.463824,0.023064,0.505335,0.461935,0.0,0.919373,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.005299,0.0

In [6]:
train.shape

(5531451, 190)

# add number of observations

In [7]:
def add_observation(df):
    
    df["number_of_observations"] = df.groupby("customer_ID")["customer_ID"].transform("count")
    
    return df

In [8]:
train = add_observation(train)

# add first occurance flag

In [9]:
def add_first_occurance(df):
    
    df["index"] = df.index.tolist()
    first_occurance_index = df[["customer_ID", "index"]].groupby("customer_ID").first()["index"].tolist()
    
    df["first_occurance"] = 0
    df.loc[df["index"].isin(first_occurance_index), "first_occurance"] = 1
    
    df = df.drop(["index"], axis=1)
    
    return df

In [10]:
train = add_first_occurance(train)

# process nan

In [11]:
# get nan clusters first
cols = sorted(train.columns[2:].tolist())
nas = train[cols].isna().sum(axis=0).reset_index(name="NA_count")
nas["group_count"] = nas.loc[nas.NA_count > 0].groupby("NA_count").transform("count")
clusters = nas.loc[nas.group_count > 10].sort_values(["NA_count","index"]).groupby("NA_count")["index"].apply(list).values

In [12]:
def process_type_0_nan(df, cluster):
    
    df["type_0_nan"] = 0
    df.loc[df[cluster[0]].isnull(), "type_0_nan"] = 1
    df.loc[df["type_0_nan"] == 1, cluster] = df.loc[df["type_0_nan"] == 1, cluster].fillna(0)
    
    return df

In [13]:
train = process_type_0_nan(train, clusters[0])

In [14]:
def process_type_1_nan(df, cluster):
    
    df["type_1_nan"] = 0
    df.loc[
        (df[cluster[0]].isnull()) & (df["first_occurance"] == 1), 
        "type_1_nan"
    ] = 1
    df.loc[
        (df[cluster[0]].isnull()) & (df["first_occurance"] == 0), 
        "type_1_nan"
    ] = 2
    
    # fill type_1_nan == 1 by 0
    df.loc[df["type_1_nan"] == 1, cluster] = df.loc[df["type_1_nan"] == 1, cluster].fillna(0)
    
    # fill type_1_nan == 0 by mean of t - 1 and t + 1
    ffill = df[["customer_ID", "type_1_nan"] + cluster].copy()
    bfill = df[["customer_ID", "type_1_nan"] + cluster].copy()
    
    ffill[cluster] = ffill[cluster].fillna(method="ffill")
    bfill[cluster] = bfill[cluster].fillna(method="bfill")
    
    df.loc[df["type_1_nan"] == 2, cluster] = (ffill.loc[ffill["type_1_nan"] == 2, cluster] + \
                                              bfill.loc[ffill["type_1_nan"] == 2, cluster]) / 2
    
    return df

In [15]:
train = process_type_1_nan(train, clusters[1])

In [16]:
def process_type_2_nan(df, cluster):
    
    df["type_2_nan"] = 0
    df.loc[
        (df[cluster[0]].isnull()) & (df["first_occurance"] == 1), 
        "type_2_nan"
    ] = 1
    df.loc[
        (df[cluster[0]].isnull()) & (df["first_occurance"] == 0), 
        "type_2_nan"
    ] = 2
    
    return df

In [17]:
train = process_type_2_nan(train, clusters[2])

# add time_id

In [18]:
def add_time_id(df):
    
    df["time_id"] = df.groupby(["customer_ID"]).cumcount()
    
    return df

In [19]:
train = add_time_id(train)

# feature engineering

In [20]:
def process_and_feature_engineer(df):

    all_cols = [c for c in list(df.columns) if c not in ["customer_ID", "S_2", "first_occurance", "time_id"]]
    nan_related_features = [
        "number_of_observations",
        "type_0_nan",
        "type_1_nan",
        "type_2_nan"
    ]
    cat_features = [
        "B_30",
        "B_38",
        "D_114",
        "D_116",
        "D_117",
        "D_120",
        "D_126",
        "D_63",
        "D_64",
        "D_66",
        "D_68"
    ]
    num_features = [col for col in all_cols if col not in (cat_features + nan_related_features)]
    
    print("process number_of_observations")
    number_of_observations = df.groupby("customer_ID")["number_of_observations"].agg("last")
    
    print("process num features")
    num_agg = df.groupby("customer_ID")[num_features].agg([ 
        np.nanstd, 
        np.nanmin, 
        np.nanmax,
        "last"
    ])
    num_agg.columns = ["_".join(x) for x in num_agg.columns]
    print("num features shape:", num_agg.shape)
    
    print("process sma num features")
    sma_num_agg_0 = train.loc[train["time_id"] >= 0].groupby("customer_ID")[num_features].agg(np.nanmean)
    sma_num_agg_0.columns = [(x + "_nanmean_0") for x in sma_num_agg_0.columns]
    
    sma_num_agg_4 = train.loc[train["time_id"] >= 4].groupby("customer_ID")[num_features].agg(np.nanmean)
    sma_num_agg_4.columns = [(x + "_nanmean_4") for x in sma_num_agg_4.columns]
    
    sma_num_agg_7 = train.loc[train["time_id"] >= 7].groupby("customer_ID")[num_features].agg(np.nanmean)
    sma_num_agg_7.columns = [(x + "_nanmean_7") for x in sma_num_agg_7.columns]
    
    sma_num_agg_10 = train.loc[train["time_id"] >= 10].groupby("customer_ID")[num_features].agg(np.nanmean)
    sma_num_agg_10.columns = [(x + "_nanmean_10") for x in sma_num_agg_10.columns]
    
    sma_num_agg = pd.concat([sma_num_agg_0, sma_num_agg_4, sma_num_agg_7, sma_num_agg_10], axis=1)
    print("sma num features shape:", sma_num_agg.shape)
    
    print("process cat features")
    cat_agg = df.groupby("customer_ID")[cat_features].agg(["count", "last", "nunique"])
    cat_agg.columns = ["_".join(x) for x in cat_agg.columns]
    print("cat features shape:", cat_agg.shape)

    print("process observation mean features")
    last_features = [feature for feature in num_agg.columns if "last" in feature]
    tmp_df = pd.concat([num_agg[last_features], number_of_observations], axis=1)
    
    observation_mean = tmp_df.groupby("number_of_observations")[last_features].transform(np.nanmean)
    observation_mean.columns = [(x + "_observation_mean") for x in observation_mean.columns]
    print("observation_mean features shape:", observation_mean.shape)
    
    df = pd.concat([num_agg, sma_num_agg, cat_agg, observation_mean], axis=1)
    print("shape after engineering", df.shape)
    
    return df

In [21]:
train = process_and_feature_engineer(train)

process number_of_observations
process num features
num features shape: (458913, 708)
process sma num features
sma num features shape: (458913, 708)
process cat features
cat features shape: (458913, 33)
process observation mean features
shape after engineering (458913, 1626)

In [22]:
train.isnull().sum()

P_2_nanstd                     7829
P_2_nanmin                     2434
P_2_nanmax                     2434
P_2_last                       2434
D_39_nanstd                    5120
                               ...
D_141_last_observation_mean       0
D_142_last_observation_mean       0
D_143_last_observation_mean       0
D_144_last_observation_mean       0
D_145_last_observation_mean       0
Length: 1626, dtype: int64

In [23]:
train.head()

,P_2_nanstd,P_2_nanmin,P_2_nanmax,P_2_last,D_39_nanstd,D_39_nanmin,D_39_nanmax,D_39_last,B_1_nanstd,B_1_nanmin,...,D_136_last_observation_mean,D_137_last_observation_mean,D_138_last_observation_mean,D_139_last_observation_mean,D_140_last_observation_mean,D_141_last_observation_mean,D_142_last_observation_mean,D_143_last_observation_mean,D_144_last_observation_mean,D_145_last_observation_mean
customer_ID,,,,,,,,,,,,,,,,,,,,,
-9223358381327749917,0.057145,0.340178,0.498727,0.387708,4.628507,0,16,0,0.048472,0.298571,...,0.774195,0.003184,0.327086,0.167648,0.021102,0.155013,0.406711,0.167547,0.053028,0.604569
-9223193039457028513,0.013094,0.964483,1.002478,1.001372,0.000000,0,0,0,0.001941,0.001238,...,0.774195,0.003184,0.327086,0.167648,0.021102,0.155013,0.406711,0.167547,0.053028,0.604569
-9223189665817919541,0.038025,0.694073,0.828761,0.694073,0.000000,0,0,0,0.002724,0.001909,...,0.774195,0.003184,0.327086,0.167648,0.021102,0.155013,0.406711,0.167547,0.053028,0.604569
-9223188534444851899,0.002688,0.786647,0.794826,0.787945,0.000000,0,0,0,0.002570,0.000845,...,0.774195,0.003184,0.327086,0.167648,0.021102,0.155013,0.406711,0.167547,0.053028,0.604569
-9223173911659837606,0.078554,0.038207,0.252421,0.040486,6.144625,0,17,13,0.005226,0.105406,...,0.774195,0.003184,0.327086,0.167648,0.021102,0.155013,0.406711,0.167547,0.053028,0.604569

# Add target

In [24]:
def add_target(df):
    
    targets = pd.read_csv("../input/train_labels.csv")
    
    # REDUCE DTYPE FOR CUSTOMER AND DATE
    targets["customer_ID"] = targets["customer_ID"].str[-16:]
    
    hex_to_int = lambda x: int(x, 16)
    targets[["customer_ID"]] = targets[["customer_ID"]].applymap(lambda x: int(x, 16))
    targets["customer_ID"] = targets["customer_ID"].astype("int64")
    
    targets = targets.set_index("customer_ID")
    
    df = df.merge(targets, left_index=True, right_index=True, how="left")
    df.target = df.target.astype("int8")

    # NEEDED TO MAKE CV DETERMINISTIC (cudf merge above randomly shuffles rows)
    df = df.sort_index().reset_index()
    
    return df

In [25]:
train = add_target(train)

In [26]:
train.shape

(458913, 1628)

In [27]:
train.head()

,customer_ID,P_2_nanstd,P_2_nanmin,P_2_nanmax,P_2_last,D_39_nanstd,D_39_nanmin,D_39_nanmax,D_39_last,B_1_nanstd,...,D_137_last_observation_mean,D_138_last_observation_mean,D_139_last_observation_mean,D_140_last_observation_mean,D_141_last_observation_mean,D_142_last_observation_mean,D_143_last_observation_mean,D_144_last_observation_mean,D_145_last_observation_mean,target
0,-9223358381327749917,0.057145,0.340178,0.498727,0.387708,4.628507,0,16,0,0.048472,...,0.003184,0.327086,0.167648,0.021102,0.155013,0.406711,0.167547,0.053028,0.604569,1
1,-9223193039457028513,0.013094,0.964483,1.002478,1.001372,0.000000,0,0,0,0.001941,...,0.003184,0.327086,0.167648,0.021102,0.155013,0.406711,0.167547,0.053028,0.604569,0
2,-9223189665817919541,0.038025,0.694073,0.828761,0.694073,0.000000,0,0,0,0.002724,...,0.003184,0.327086,0.167648,0.021102,0.155013,0.406711,0.167547,0.053028,0.604569,0
3,-9223188534444851899,0.002688,0.786647,0.794826,0.787945,0.000000,0,0,0,0.002570,...,0.003184,0.327086,0.167648,0.021102,0.155013,0.406711,0.167547,0.053028,0.604569,0
4,-9223173911659837606,0.078554,0.038207,0.252421,0.040486,6.144625,0,17,13,0.005226,...,0.003184,0.327086,0.167648,0.021102,0.155013,0.406711,0.167547,0.053028,0.604569,1

# label encoding

In [28]:
def label_encoding(df):
    
    cat_features_base = [
        "B_30",
        "B_38",
        "D_114",
        "D_116",
        "D_117",
        "D_120",
        "D_126",
        "D_63",
        "D_64",
        "D_66",
        "D_68"
    ] 
    cat_features = [
        "{}_last".format(feature) for feature in cat_features_base
    ]
    
    for feature in cat_features:
        encoder = LabelEncoder()
        df[feature] = encoder.fit_transform(df[feature])
    
    return df

In [30]:
train = label_encoding(train)

# save files

In [31]:
train.to_parquet("../input/train_sma_observation_mean.parquet")